html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  /* line-height 参数是数字的话，就是当前字体大小乘上数字 */
  line-height: 2;
  letter-spacing: 1px;
}

img {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.footer-link {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.display-center {
  display: flex;
  justify-content: center;
}

.play {
  display: inline-block;
  padding: 0 5px;
  font-weight: bold;
}

.play:after {
  content: " ";
  background: url('../res/icon/play.svg');
  background-size: 15px;
  display: inline-block;
  vertical-align: -2px;
  width: 15px;
  height: 15px;
}